<!DOCTYPE html>
<html>
<head>
  <title>DNDBabelBabble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- not sure if i need the above tag, need to point it to a different url -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
